





.
{
margin: 10px;
padding:20;
 box-sizing:border-box;
font-family:"Poppins", sans-serif;
}
.link:hover,.active{
border-bottom: 2px solid #fff;
}


body
{
min-height:100vh;
background:url(kl.jpg);
background-size:cover;
background-position:right;
background-attachment: fixed;
background-repeat: no-repeat;


}
.img[
  
]
.logo{
  width:0;
  margin: 0;
  cursor: pointer;
  color:#fff;
}
.element::before{
  opacity: 0.4;
}
.header
{
position:fixed;
right:30px;
nav-left: 0;
width:100%;
padding:0px 0px;
background: transparent;
display:flex;
justify-content:space-between;
align-items: right;
z-index:100;
margin-right: 12rem;

}

{

.Logo

font-size:32px;
color:hsla(182, 100%, 50%, 0)
font color: weight #000;</font>
text-decoration:none 
font weight:: 70px;
}
.menu a:first-child{
background: radial-gradient(1E3E62)
}
.navbar a
{
position:relative;
font-size:500;
color:#fff;
font-weight:500;
text-decoration:none;
margin-left:80px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: right;
background-image: linear-gradient(1E3E62);
}

.navbara:hover
{
color: floralwhite;
}
.navbar a::before
{
content:"" ;
position:absolute;
top:100%;
nav-right: 1000;
width:0;
height:2px;
background: #fff;
transition: .3s;
text-align: right;
}.navbar a:hover::before
{
background-position: #fff;
width:100%;
background:#fff;
}

.button {
  background-color: aqua;
 font-weight: bolder ;
 border: #fff;
  font-size: 15px;
border-color: #82e0ff;
width: 200px;
  color: #000000;
  padding: 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  align-items: center;
position: relative;

}

  button:hover{

    filter:drop-shadow(0 0 10px
    #73daf9);
    border: aqua;
    background-color:aqua;
  
  }
  
  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }